/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 13, 19, 7:05:45 PM
    Author     : Gillian
*/

.card{
    -fx-background-color: white;
    -fx-border-radius: 4.0px;
    -fx-background-radius: 4.0px;
    -fx-effect: dropshadow(gaussian,rgb(0.0,0.0,0.0,0.15),6.0,0.7,0.0,1.5);
}

.btn-login{
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
    -fx-background-color: #5a5a5a;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -jfx-button-type: FLAT;
    -fx-pref-width: 110px;
    -fx-pref-height: 25px;
}

.btn-login:hover{
    -fx-background-color: #1c1b1b;
}

.btn-overall{
    -fx-background-color: #779ecb;
    -fx-text-fill: white;
}

.btn-overall:hover{
    -fx-background-color: #58789e;
    -fx-text-fill: white;
}

.btn-signout{
    -fx-background-color:  #e62444;
    -fx-text-fill: white;
}

.btn-signout:hover{
    -fx-background-color:  #c23b22;
    -fx-text-fill: white;
}

.tab{
    -fx-background-color: #e62444;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}

.tab:hover{
    -fx-background-color: #1f08a1;
}

.tab:default{
    -fx-background-color: #e62444;
}

.tab-header-background{
    -fx-background-color: #e62444;
}

